/**
 * main.css
 *
 * main.css
 *
 * @theme               wm-html5-presentation
 * @layouts             standard
 * @templates           front, sub
 */

/**
 * General
 */

body { font: 1em/1.5 sans-serif, Helvetica, Arial; }

h1,h2,h3,h4,h5,h6 { margin: .3em 0; }

/**
 * Diag
 */
 
body.show-grid { 
    background: url('../_css-lib/960.gs/img/16_col.gif') center center repeat-y;
}

/**
 *  Common
 */
 
ul { margin: 0; padding: 0;}
li { display: inline; padding: 0; margin: 0; }

/**
 * Layout: Standard
 *
 * Layout: Standard (Site Structure)
 *
 * @layout              standard
 * @templates           front, sub
 * @template_default    sub
 */
 
html.layout-standard #site-container { height: 100%; }
html.layout-standard #site-container-inner { height: 100%; }
html.layout-standard article { padding: 0 1em; width: 310px; }

/**
 * Template: Front
 *
 * Layout: page-front
 *
 * @layout              standard
 * @lastmodified        03-31-2011 4:28PM
 */
 
html.template-front {
    height: 100%;
}

html.template-front body { 
    height: 100%;
}

html.template-front #intro { 
    height: 100%;
    padding: 1em 0;
    background: url('../_img/bg-page-home-html5-logo.png') 1px 0 no-repeat;
}

/* Overrides */

html.template-front #site-container { }
html.template-front #site-container-inner { }
html.template-front article { }
 
/**
 * Template: Sub
 *
 * Layout: page-front
 *
 * @layout              standard
 * @lastmodified        03-31-2011 4:28PM
 */

html.template-sub {
    height: 100%;
}

html.template-sub body { 
    height: 100%;
}

html.template-sub #intro { 
    height: 100%;
    padding: 1em 0;
    background: url('../_img/bg-page-sub-html5-logo.png') 1px 0 no-repeat;
}

/* Overrides */

html.template-sub #site-container { }
html.template-sub #site-container-inner { }
html.template-sub article { padding: 0 1em; width: auto; }

